@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');

/*General*/
body {
  margin: 0;
  padding: 0 2%;
  font: 'Muli', 'Helvetica Neue', 'Helvectica', 'Arial', serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5em;
  color: #222;
  text-align: center;
}


h1, h2, h3 {
  font-weight: 100;
  color: #222;
  line-height: 1.5em;
  font-family: 'Muli', cursive;
}

h1 {
  font-size: 3em;
  margin: 60px 0 40px;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
  padding: 10px 0 30px 0;
}

#home h2 {
  margin: -40px 0 0;
}

h3 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
}

h3 em {
  font-style: normal;
  font-weight: 100;
  margin: 0 0 10px 5px;
  padding: 0;
  color: #8d9aa5;
}

p {
  font-family: 'Muli';
}

.footer {
  display: inline;
  font-size: 1.75em;
  border-top: solid 1.5px;
  border-bottom-top: auto;
  padding-bottom: 3px;
  line-height: 1.5em;
  font-family: 'Muli';
  color: #888;
}

input {
  font-family: 'Muli';
  font-weight: 800;
  width: 200px;
  text-align: center;
  display: inline-block;
  border-width: 0pt;
  background-color: #DDD;
  color: #555;
  margin-bottom: 5px;
  border-radius: 2em;
  padding: .5em;
  size: 15em;
}

button {
  font-family: 'Muli';
  background-color: #DDD;
  color: #555;
  padding: 5px 12px;
  display: inline-block;
  font-size: 16px;
  border-radius: 1em;
  border: none;
  margin: 20px 0;
}

button:hover,
button:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline-width: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.colors {
  transition: border-radius 0.5s ease;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 15% 25%;
  margin: 15px;
}

.colors:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-color: black;
  border-radius: 25% 15%;
}

.card {
  display: inline-block;
  padding: 100px 30px;
  margin: 3rem 5rem;
  border-radius: 10px;
  transition: box-shadow .5s ease;
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

span {
  color: red;
}

footer {
  padding: 5%;
  margin-top: 2.5%;
}

.footer {
  border-top: none;
  font-size: 1em;
  font-family: 'Muli', cursive;
}

.error {
  border: solid 2px red;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  z-index: 200;
}

.button:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

#dark-button {
  left: 30px;
  bottom: 120px;
  opacity: 0.0;
  display: 'none';
}

#github-button {
  left: 30px;
  bottom: 180px;
  opacity: 0.0;
  display: 'none';
}

#about-button {
  left: 30px;
  bottom: 240px;
  opacity: 0.0;
  display: 'none';
}

#menu-button {
   left: 30px;
   bottom: 30px;
}

#menu-button:hover {
   transform: scale(1.2);
}

#add-js {
 margin: 0px 4rem;
}

.js-modal { 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  width: 50%;
  max-height: 80%;
  padding: 1em;
  border-radius: 5px; 
  z-index: 100;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    margin: 60px 0 40px;
  }

  input {
    width: 80%;
    height: 25px;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  button {
    font-size: 2rem;
    width: 70%;
    height: 50px;
  }

  h2 {
    font-size: 2.5rem;
  }

  .footer {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1025px) {
  h1 {
    font-size: 5em;
  }

  input {
    height:  50px;
    width: 45%;
    font-size: 2em;
    margin-bottom: 20px;
  }

  button {
    width: 40%;
    height: 50px;
    font-size: 2em;
  }

  h2 {
    font-size: 3.5em;
  }

  .footer {
    font-size: 2em;
  }

}
